.topnav{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 15px;
    font-size: 24px;
    gap: 15px;
}
.section1 { 
display: flex;
justify-content: center;

}
#logo{
    display: flex;
    padding: 5px;
    border-radius: 25px;

    border: 2px inset black;
}
.section2{
    display: flex;
    flex-direction: row;
    font-size: 42px;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.about{
    display: flex;
background-color: rgba(207,181,244,255);
height: 200px;
box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
border-radius: 15px;


    
}
#aboutustext{
    display: flex;
    margin-left: 100px;
    margin-top: 65px;
    margin-bottom: 100px;
    margin-right: 100px;
    width: fit-content;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
}
#aboutmeimage{ 
    display: flex;
    width: fit-content;
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 25px;
    margin-left: 150px;
    padding-left: 100px;
    border-radius: 50%;
   
}
#aboutmeimage img{
    border-radius: 50%;
}
.spacer{
    display: flex;
    margin-top: 5px;
    height: 350px;
    width: auto;
}
.tokenomics{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    font-size: 32px;
    background-color: #fa9fb5;
    height: 200px;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    gap: 15px;

}
#token1{
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    background-color: #d2faff;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    padding: 1%;
    gap: 15px;
}
#token2{
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    padding: 1%;
    gap: 15px;
    background-color: #d2faff;
}
#token3{
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    padding: 1%;
    gap: 15px;
    background-color: #d2faff;
}
.roadmap{
    display: flex;
    height: 200px;
    font-size: 32px;
    justify-content: center;
    flex-direction: column;
    background-color: #e2b876;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    gap: 15px;
}

.team{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fa9fb5;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    gap: 15px;
}
#meet{
    display: flex;
    height: 75px;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 32px;
    justify-content: center;
     background-color: #d2faff;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    gap: 15px;
    margin-bottom: 50px;
    margin-left: 45%;
}
#team1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d2faff;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    gap: 15px;
    padding: 25px;
}
#team1 img{
    border-radius: 50%;
}
#team1image{
    display: flex;
    flex-direction: column;
    width: 175px;
    height: auto;
}
#team1text{
    display: flex;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    
}
#teamul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
   justify-content: center;
   align-items: center;
    
}
#team2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cfb5f4;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    gap: 15px;
    padding: 25px;
}
#team2image{
    display: flex;
    flex-direction: column;
    width: 175px;
    height: auto;
    
}
#team2text{
    display: flex;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
}
#team2 img{
    border-radius: 50%;
}
body{
    background-color: rgba(230,253,255,255);
}