@font-face {
    font-family: 'dynapuffregular';
    src: url('../dynapuff-variablefont_wdthwght-webfont.woff') format('woff2'),
         url('../dynapuff-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.navbar{
    width: auto;
}
.topnav{
    display: flex;
    justify-content: center;
    background-color: #cfb5f4;
    border: #cfb5f4;
    border-style: outset;
    border-radius: 52px;
    width: fit-content;
    margin: auto;
    padding: .5vh;
    font-size: 24px;
    gap: 15px;
    
}
.nav1{
    display: flex; 
    border-style: inset;
    border-color: #d2faff;
    border-radius: 20px;
    background-color: #cfb5f4;
    padding: 10px;

}
.active{
    display: flex; 
    border-style: inset;
    border-color: #d2faff;
    border-radius: 20px;
    background-color: #cfb5f4;
    padding: 10px;

}
.nav2{
    display: flex; 
    border-style: inset;
    border-color: #d2faff;
    border-radius: 20px;
    background-color: #cfb5f4;
    padding: 10px;

}
.nav3{
    display: flex; 
    border-style: inset;
    border-color: #d2faff;
    border-radius: 20px;
    background-color: #cfb5f4;
    padding: 10px;

}

.section1 { 
display: flex;
justify-content: center;

}
#logo{
    display: flex;
    height: max-content;
    width: 100%;
}
.section2{
    display: flex;
    flex-direction: row;
    font-size: 5vh;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: "dynapuffregular";
}
.about{
    display: flex;  
    flex-basis: auto;
    padding: 25px;
    background-color: rgba(207,181,244,255);
    height: auto;
    width: auto;
    
}
#aboutustext{
    display: flex;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
    width: fit-content;
    flex-direction: column;
    text-align: center;
    color: whitesmoke;
    font-size: 24px;
}
#aboutmeimage{ 
    display: flex;
    height: 50%;
    width: 50%;
    margin-top: 1%;
    margin-right: 3%;
    margin-bottom: 1%;
    margin-left: 3%;
    padding-left: 100px; 
}
#aboutmeimg img{
    border-radius: 50%;
    height: 50%;
    width: 50%;
}
.spacer{
    display: flex;
    margin-top: 5px;
    height: 350px;
    width: auto;
    background-color: rgba(207,181,244,255);
}
.spacertwo{
    display: flex;
    margin-top: 5px;
    height: 350px;
    width: auto;
    background-color: #fa9fb5;
}
.tokenomics{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 25px;
    flex-direction: row;
    font-size: 32px;
    background-color: #fa9fb5;
    height: 200px;
    width: 100vw;
    gap: 15px;

}
#token1{
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    background-color: #d2faff;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    padding: 1%;
    gap: 15px;
}
#token2{
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    padding: 1%;
    gap: 15px;
    background-color: #d2faff;
}
#token3{
    display: flex; 
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    padding: 1%;
    gap: 15px;
    background-color: #d2faff;
}
.roadmap{
    display: flex;
    height: 200px;
    font-size: 32px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
    flex-direction: row;
    background-color: #e2b876;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    gap: 15px;
}
.q1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d2faff;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    gap: 15px;

}
#q2{
    background-color: #cfb5f4;
    
}

.team{
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 50px;
   
    background-color: #fa9fb5;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    gap: 15px;
    padding: 15px;
}
#meet{
    display: flex;
    height: fit-content;
    width: fit-content;
    font-size: 3vh;
    justify-content: center;
    margin-bottom: 3vh;
}
#team1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d2faff;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    gap: 15px;
    padding: 25px;
}
#team1 img{
    border-radius: 50%;
}
#team1image{
    display: flex;
    flex-direction: column;
    width: 175px;
    height: auto;
}
#team1text{
    display: flex;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
    
}
#teamul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
   justify-content: center;
   align-items: center;
    
}
#team2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #cfb5f4;
    box-shadow: 0 7px 20px 0 rgb(0 0 0 / 80%), 0 4px 10px 0 rgb(0 0 0 / 20%);
    border-radius: 15px;
    gap: 15px;
    padding: 25px;
}
#team2image{
    display: flex;
    flex-direction: column;
    width: 175px;
    height: auto;
    
}
#team2text{
    display: flex;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    margin-left: -50px;
}
#team2 img{
    border-radius: 50%;
}
body{
    background-color: #d2faff;
    
}




